* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  line-height: 1, 4;
  font-weight: 300;
}
.pimg1 {
  background-image: url("/images/image1.jpg");
  min-height: 100vh;
}
.pimg1 {
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  overflow: hidden;
}
.ptext {
  margin-top: 60px;
  text-align: center;
  letter-spacing: 8px;
  top: 13%;
  position: absolute;
  width: 100%;
  color: gold;
}
.nameHead {
  font-size: 60px;
  width: 70%;
  cursor: pointer;
  margin-top: 30px;
}
.nameHead span {
  font-size: 30px;
  transition: 1s ease-in-out;
  color: black;
}
.nameHead span:hover {
  transition: 1s ease-in-out;
  color: gold;
  font-size: 40px;
}
.nameHead1 {
  margin-top: 30px;
}
.ptext h1 {
  font-size: 70px;
}
.big_text {
  padding: 60px 80px;
  background: black;
}
.big_text1 {
  color: #fff;
  text-align: center;
}
.big_text1 h1 {
  font-size: 50px;
}
.big_text1 span {
  font-size: 90px;
}
.developer {
  padding: 20px;
}

.creator {
  display: flex;
}
.creator img {
  width: 100%;
  height: 40%;
  border: 2px solid #fff;
  border-radius: 8px;
  padding-bottom: 5px;
}
.web_development,
.app_development,
.ui_ux_design {
  box-shadow: 2px 2px 4px black;
  width: 30%;
  padding: 10px 20px;
  margin: 15px;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-left: -10px;
  overflow: hidden;
}
.web_development:hover,
.ui_ux_design:hover,
.app_development:hover {
  box-shadow: 4px 6px 4px black;
  transform: scale(1.04);
  transition: 0.2s ease-in-out;
}
.creator p {
  padding: 20px;
  padding-top: 5px;
}
.creator h2 {
  text-align: center;
  color: black;
}
.creator a {
  text-decoration: none;
}
.creator h2:hover {
  color: blue;
}
.contact_about_me {
  display: flex;
  text-align: center;
}
.contact_me {
  background: #515603;
  width: 800px;
  padding: 60px;
  text-align: justify;
}
.contact_me a {
  text-decoration: none;
  color: #fff;
}
.contact_me a:hover {
  color: blue;
}
.about_me {
  background: #722300;
  width: 800px;
  padding: 60px;
  text-align: justify;
}
.contact_about_me h1 {
  text-align: center;
  font-size: 40px;
  color: #fff;
  padding-bottom: 20px;
}
.contact_about_me p {
  color: #fff;
  padding: 10px;
}
.creator_name {
  background: #000;
  text-align: center;
  padding: 40px;
}
.creator_name p {
  color: #fff;
  cursor: pointer;
}
.creator_name a {
  text-decoration: none;
}

@media all and (min-width: 900px) and (max-width: 1160px) {
  .ptext h2 {
    text-align: center;
    width: 100%;
  }
  .pimg1 {
    height: auto;
  }
  .web_development,
  .app_development,
  .ui_ux_design {
    padding-bottom: 80px;
  }
}
@media all and (min-width: 320px) and (max-width: 899px) {
  .ptext h2 {
    text-align: center;
    width: 100%;
  }
  .ptext h1 {
    font-size: 55px;
  }
  .pimg1 {
    height: auto;
  }
  .creator {
    display: block;
  }
  .web_development {
    width: 100%;
    padding: 0 auto;
  }
  .app_development {
    width: 100%;
    padding: 0 auto;
  }
  .ui_ux_design {
    width: 100%;
    padding: 0 auto;
  }
  .web_development:hover,
  .ui_ux_design:hover,
  .app_development:hover {
    width: 100%;
  }
  .contact_about_me {
    display: block;
  }
  .contact_me {
    width: 100%;
  }
  .about_me {
    width: 100%;
  }
}
